*{
  margin:0;
  padding:0;
}

body{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
  background-color: lightblue;
  color:#fff;
}

ul, li {
	list-style: none;
}

ul {
	overflow: hidden; /*what the fuck*/
	padding: 3em;
}

#fridge {
	width: 75%;
	margin: 20px auto;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	background: grey;
}

#settings {
	background: darkgrey;
	padding: 5px 5px 5px 5px;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 400px;
	margin: 20px auto;
	
	
}
#settings li{
	display: inline;
	overflow: hidden;
}

#settings li a {
	display: block;
	width: 100px;
	height: 100px;
	text-indent: -9999px;
	background: url(images/sprite.png);
	float: left;
}

#settings li a#list-one-button {
	background-position: 0px -100px;
}

#settings li.active a#list-one-button {
	background-position: 0px 0px;
}


#settings li a#list-two-button {
	background-position: -100px -100px;
}

#settings li.active a#list-two-button {
	background-position: -100px 0px;
}

#settings li a#list-three-button {
	background-position: -200px -100px;
}

#settings li.active a#list-three-button {
	background-position: -200px 0px;
}


#settings li a#list-four-button {
	background-position: -300px -100px;
}

#settings li.active a#list-four-button {
	background-position: -300px 0px;
}


#fridge .magnet {
	text-decoration: none;
	background: white;
	color: #000;
	display: block;
	height: 3em;
	width: 10em;
	padding: 1em;
	/*Firefox*/
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,.7); /*Dark grey with opacity of 70%*/
	/*Safari and Chrome*/
	-webkit-box-shadow:5px 5px 7px rgba(33,33,33,.7);
	/*Opera*/
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	
	/*Making transitions smooth*/
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

#fridge div:nth-child(even) {
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}
#fridge div:nth-child(3n) {
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
#fridge div:nth-child(5n) {
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
}

#fridge .magnet {
	margin:1em;
	float:left;
}

/*Style inside sticky notes*/

ul li h2{
	font-size: 140%;
	font-weight: bold;
	padding-bottom:10px;
}



/*Hover and zoom effects*/

.magnet:hover,ul li:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

.magnet.over {
  border: 2px dashed #000;
}

/*Make Transition smoother*/

